.login{
    display: flex;
    flex-direction: column;
    background: #fbfbfb;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

@media  screen and (max-width: 450px) {
    .login{
        width: 100%;
    }
}